body {
}

.frame {
    box-sizing: border-box;
}

input#search-box {
    border: 1px solid #999;
    padding: 2px 7px;
    font-size: 12px;
    min-width: 180px;
    resize: horizontal;
    height: 16px;
    line-height: 20px;
    display: inline-block;
}

#config,
#history {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid transparent;
    position: relative;
    top: 2px;
}

#config:hover,
#history:hover {
    background-color: #66eeff;
    border: 1px solid #00aaff;
    cursor: pointer;
}

#config.pressing,
#history.pressing {
    background-color: #66eeff;
    border: 1px solid #00aaff;
}

.hide {
    display: none;
}
